* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#87ceeb, #555);
    font-family: Arial, sans-serif;
}

canvas {
    width: 100vw;
    height: 100vh;
    max-width: 800px;
    max-height: 600px;
    background: #333;
    border-radius: 15px;
    box-shadow: 0 0 30px black;
}

#menu {
    position: absolute;
    color: white;
    text-align: center;
    z-index: 5;
}

#menu h1 {
    font-size: 45px;
}

button {
    padding: 15px 40px;
    font-size: 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}


#controls {
    position: fixed;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
    z-index: 10;
}


#controls button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 40px;
    background: rgba(255,255,255,0.7);
}


@media(max-width:600px){

    #menu h1{
        font-size:35px;
    }

    #controls button{
        width:70px;
        height:70px;
        font-size:30px;
    }
}
